# Newt apps (Get this info from pangolins site (newt) setup)
PANGOLIN_ENDPOINT=
NEWT_ID=
NEWT_SECRET=

#This is the version tag of the project, found on dockerhub or github, which most of the time the github version follows the correct tag needed, otherwise if unsure, put, latest
newt_version=