### NneonNetwork Added Section
## Common
PUID=
PGID=
TZ=
LISTENING_ADDRESS=

## Pelican Panel
PelicanPanel_version=
APP_URL=

## Redis_pelican
Redis_pass=

## Postgresql_pelican
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASS=