### NneonNetwork Added Section
## Common
LISTEN_ADDRESS=100.64.0.8
PUID=
PGID=
TZ=

## Planka
Planka_version=
DATABASE_PASSWORD=
DATABASE_NAME=
SECRET_KEY=
DEFAULT_ADMIN_EMAIL=
DEFAULT_ADMIN_USERNAME=
DEFAULT_ADMIN_NAME=
DEFAULT_ADMIN_PASSWORD=