#common
PUID=
PGID=
TZ=America/Chicago
LISTEN_ADDRESS=

#The following stuff that asks for the version, uses the version tag of the project found on dockerhub or github, which most of the time the github version follows the correct tag needed, otherwise if unsure, put, latest 
# prowlarr
prowlarr_version=

# sonarr
sonarr_version=

# radarr
radarr_version=

# seerr
seerr_version=

# pinchflat
pinchflat_version=

# lidarr
lidarr_version=

# profilarr
profilarr_version=

# flareSolverr
flaresolverr_version=

# qbittorrent
qbittorrent_version=

# gluetun
gluetun_version=
WIREGUARD_KEY=
#WIREGUARD_ADDRESS=