#common
PUID=
PGID=
TZ=America/Chicago
LISTEN_ADDRESS=

# prowlarr
prowlarr_version=

# sonarr
sonarr_version=

# radarr
radarr_version=

# qbittorrent
qbittorrent_version=

# gluetun
gluetun_version=
WIREGUARD_KEY=
WIREGUARD_ADDRESS=