# common
PUID=
PGID=
TZ=

# jellyfin
#JELLYFIN_PUBLISHEDURL=https://jellyfin.example.com

#Version of the docker image (example 10.11.11ubu2404-ls38 or latest, which can be found, for example, at - https://github.com/linuxserver/docker-jellyfin/releases or https://github.com/jellyfin/jellyfin/releases) 
# (Sometimes github projects version do not match what tag the docker image uses. so technically it's probably best to find the dockerhub page, but I personally use github and figure it out from there, but linuxserver and Official do match the correct tag that docker hub has) 
jellyfin_version= 